<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - TrafficTelligence</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="contact">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/inspect">Predict</a>
        <a href="/contact" class="active">Contact</a>
    </nav>

    <div class="container slide-in-left" style="background-color: linear-gradient(to right, #e3f2fd, #ffffff);" >
        <div class="section">
            <h1>Contact Us</h1>
            <p><strong>Email:</strong> <a href="mailto:traffic.ai@support.com">traffic.ai@support.com</a></p>
            <p><strong>Phone:</strong> +91 9876543210</p>
            <p><strong>Location:</strong> Smart City, India</p>
            <!-- <img src="{{ url_for('static', filename='images/contact.jpg') }}" alt="Contact Image" class="main-image"> -->
        </div>
    </div>
</body>
</html>
