<!DOCTYPE html>
<html>
<head>
    <title>Predict Traffic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="inspect">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/inspect">Predict</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="form-container slide-in-up">
        <h1 style="text-align:center;">Traffic Volume Estimation</h1>
        <form action="{{ url_for('predict') }}" method="post">
            
            <label for="holiday">Holiday:</label>
            <select id="holiday" name="Holiday" required>
                <option value="None">None</option>
                <option value="Columbus Day">Columbus Day</option>
                <option value="Veterans Day">Veterans Day</option>
                <option value="Thanksgiving Day">Thanksgiving Day</option>
                <option value="Christmas Day">Christmas Day</option>
                <option value="New Years Day">New Years Day</option>
                <option value="Washingtons Birthday">Washingtons Birthday</option>
                <option value="Memorial Day">Memorial Day</option>
                <option value="Independence Day">Independence Day</option>
                <option value="State Fair">State Fair</option>
                <option value="Labor Day">Labor Day</option>
                <option value="Martin Luther King Jr Day">Martin Luther King Jr Day</option>
            </select>
    
            <label>Temperature (°C):</label>
            <input type="number" name="Temp" step="0.01" required>
            <label>Rain (0 to 1):</label>
            <input type="number" name="Rain" min="0" max="1" step="0.01" required>
            <label>Snow (0 or 1):</label>
            <input type="number" name="snow" min="0" max="1" required>

        
            <label for="weather">Weather:</label>
            <select name="weather" required>
                <option value="Clouds">Clouds</option>
                <option value="Clear">Clear</option>
                <option value="Rain">Rain</option>
                <option value="Snow">Snow</option>
                <option value="Drizzle">Drizzle</option>
                <option value="Mist">Mist</option>
                <option value="Haze">Haze</option>
                <option value="Fog">Fog</option>
                <option value="Thunderstorm">Thunderstorm</option>
            </select>
            
            <label>Year:</label>
            <input type="number" name="year" min="2012" max="2022" required>
            <label>Month:</label>
            <input type="number" name="month" min="1" max="12" required>
            <label>Day:</label>
            <input type="number" name="day" min="1" max="31" required>
            <label>Hour:</label>
            <input type="number" name="hours" min="0" max="23" required>
            <label>Minutes:</label>
            <input type="number" name="minutes" min="0" max="59" required>
            <label>Seconds:</label>
            <input type="number" name="seconds" min="0" max="59" required>
            <button type="submit">Predict</button>
        </form>
        {% if prediction_text %}
        <div class="result fade-in">
            <h3>{{ prediction_text }}</h3>
        </div>
        {% endif %}
    </div>
</body>

</html>